/*media width: 768이하*/

@media all and (max-width:768px) {
    .section{
        padding:3rem 2rem;
    }
    .title{
        font-size: 2rem;
    }
    .description{
        font-size: 1rem;
    }
    .home_title{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    /*header부분*/
    .header{
        flex-flow: column;
        align-items: start;
        background-color: var(--color-primary);
    }
        .header_nav{
            width: 100%;
        }
            .header_menu{
                display: none;
                flex-direction: column;
                text-align: center;
                padding: 1rem 4rem;
                gap: 1rem;
            }
            .header_menu.open{/*자바스크립트에서 사용예정*/
                display: flex;
                flex-flow: column nowrap;
                width: 100%;
                background: transparent;
                text-align: center;
                padding: 1rem 4rem;
                gap: 1rem;
            }
            .hamburger{
                display: block;
                color: var(--color-white);
                font-size: 1.5rem;
                position: absolute;
                top: 1.4rem;
                right:1rem;
                border:0;
            }

    /*about 부분*/
    .about_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about_box{
        width: 100%;
    }

    /*Skills 부분*/
    .skills_content{
        display: grid;
        width: 100%;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        margin:2rem auto;
        grid-template-areas:
        "aa"
        "bb"
        "cc"
        ;
    }
    .skills_coding{
        grid-area: aa;
        padding:1rem;
        background-color: var(--color-primary);
    }
    .skills_tools{
        grid-area: bb;
        padding: 1rem;
        background-color: var(--color-primary);
        filter:brightness(150%);
    }
    .skills_etc{
        grid-area: cc;
        padding: 1rem;
        background-color: var(--color-primary);
        filter:brightness(120%);
    }

    /*MY Work*/
    .category{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background: transparent;
    }
    .category_button{
        width: 100%;
    }

    /*project 8개 시작*/
    .project_all{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }

    /*Testimonial*/
    .testimonial_each{
        display: flex;
        flex-flow: column nowrap;
    }
    .testimonial_each:nth-child(even) .tetimonial_img{
        order:0;
    }

    /*Top 버튼*/
    .arrow_up{
        display: fixed;
        right:1rem;
        bottom:1rem;
        transform: scale(0.8);
    }

}